/* You can add global styles to this file, and also import other style files */
/* load the font-face rules */
@use 'assets/fonts/fonts' as *;

/* Arabic font using HKGrotesk */
:root{
  --font-ar: 'NeoSansArabic', 'HKGrotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

* {
  font-family: var(--font-ar);
}

body { 
  font-family: var(--font-ar); 
}

h1{ font-weight:900; }
h2,h3,h4,h5,h6{ font-weight:700; }
